NODE_ENV=development

POSTGRES_USER=devnotes
POSTGRES_PASSWORD=change_me
POSTGRES_CORE_DB=devnotes_core
POSTGRES_SEARCH_DB=devnotes_search

RABBITMQ_USER=devnotes
RABBITMQ_PASSWORD=change_me

POSTGRES_CORE_PORT=5432
POSTGRES_SEARCH_PORT=5433
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
CORE_SERVICE_PORT=3000
SEARCH_SERVICE_PORT=3001
